<div class="w-full">

  <h1><%= @month.strftime("%B %-d, %Y") %></h1>

  <ul class="space-y-2">
    <% @threads.each do |thread| %>

      <li>
        <a href="<%= email_path(thread.message_id) %>" class="text-blue-500 hover:underline">
        <%= thread.subject %>
        </a>
      </li>

    <% end %>
  </ul>
</div>
